*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*upload-container*/
.upload-container{
    width: 90%;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pickfiles{
    width: 500px;
    margin: 100px 0;
    border: 1px dashed #ddd;
}