*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* topNavBar*/
header{
    background-color: #000000;
}
.topNavBar{
    width:90%;
    margin: 0 auto;
    height: 18vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNavBar>.logo{
    width: 15vw;
}
.topNavBar>.avicii{
    color: #ffffff;
    font-size: 6vw;
    line-height: 15vw;
    font-family: Arial Rounded MT Bold;
}

/* tabs*/
.tabs-container{
    border-bottom: 1px solid #ddd;
}
.tabs{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.tabs>li{
    list-style: none;
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 2vw 0;
    margin-right: 10vw;
}
.tabs>li.active{
    border-bottom: 2px solid black;
}
.tabs>li>span{
}

/*swiper*/
.swiper-container {
    width: 90%;
    height: 50vh;
    margin: 3vh auto;
}
.swiper-slide>.image{
    width: 100%;
    height: 100%;
}

/*tab-1*/
h2{
    font-weight: normal;
    font-size: 17px;
    border-left: 2px solid black;
    padding-left: 2vw;
    line-height: 18px; 
    font-family: Helvetica, sans-serif;
    margin: 5vh 0;
}