*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F8F8;
}
/*header*/

header{
    width: 100%;
    height: 28vh;
    position: relative;
    display: flex;
    align-items: center;
}
header>.bg{
    background-image: url(http://p9hnwekpi.bkt.clouddn.com/image/coverstories.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    width: 100%;
    height: 28vh;
    position: absolute;
}
header>.cover{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
header>.cover>.image{
    background-image: url(http://p9hnwekpi.bkt.clouddn.com/image/coverstories.jpg);
    background-size: cover;
    background-position: center;
    width: 35vw;
    height: 20vh;
    position: relative;
}
header>.cover>.image>.title{
    padding: 0 2vw;
    position: absolute;
    font-size: 10px;
    color: #ffffff;
    margin-top: 2vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #B52E2E;
}
header>.cover>.text{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    margin-left: 5vh;
    color: #ddd;
}
header>.cover>.text>h2{
    color: #ffffff;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 2vh;
}
header>.cover>.text>span{
    margin: 1vw 0;
}
header>.cover>.text>span.time{
    font-size: 10px;
}
/*content*/
section.info{
    width: 95%;
    margin: 5vh auto 2vh auto;
}
section.info>.content>p{
    font-size: 14px;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
section.info>.content>p.active{
    overflow: visible;
    display: block;
}
/*music*/
section.music h3{
    font-size: 12px;
    color: #666;
    font-weight: normal;
    background-color: #EEEFF0;
    padding-left: 2.5vw;
}
section.music>.songs>ul.songs-list>li{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    color: #888;
}
section.music>.songs>ul.songs-list>li>.num{
    padding: 3vw 3vw 3vw 1vw;
}
section.music>.songs>ul.songs-list>li>.song{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
    align-items: center;
}
section.music>.songs>ul.songs-list>li>.song>.song-info{
    display: flex;
    flex-direction: column;
    color: #888;
    flex-grow: 1;
    padding: 1vw 0;
}
section.music>.songs>ul.songs-list>li>.song>.song-info>.song-name{
    color: #000000;
}
section.music>.songs>ul.songs-list>li>.song>.song-info>.song-singer{
    font-size: 12px;
}
.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 1.5vw 0;
 }
